$root: '.app-btn';

#{$root} {
  padding: 7px 14px;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  background-color: #10639d;
  cursor: pointer;
  &.fullWidth {
    width: 100%;
  }
  &:hover {
    background-color: #1077bb;
  }
}
