$root: '.folder-structure';

#{$root} {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #49494a;
  &_file {
    padding: 12px;
    color: #b0b0b5;
    transition: background-color 0.2s;
    &:hover,
    &.active {
      color: #ffffff;
      background-color: #323435;
      cursor: pointer;
    }
    .title {
      font-size: 14px;
      font-weight: 400;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
    }
    .label {
      font-size: 10px;
      color: #ffffff;
      padding: 2px 4px;
      margin-right: 6px;
      border-radius: 4px;
      &.PUT {
        background-color: #67c7ba;
      }
    }
    .timestamp {
      font-size: 12px;
      font-weight: 400;
      margin-top: 6px;
    }
    .icon {
      padding: 4px 2px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
